
$dark-blue:#1D8CE0;
$blue:#20A0FF;
$light-blue:#58B7FF;
$black:#1F2D3D;
$light-black:#324057;
$xlight-black:#475669;
$grey:#D3DCE6;
$light-grey:#E5E9F2;
$xlight-grey:#EFF2F7;
$success:#13CE66;
$warning:#F7BA2A;
$danger:#FF4949;

$app-header-height:120px;

@mixin clearfix(){
  &::before,&::after{
    content:" ";
    display: table;
  }
  &::after{
    clear: both;
  }
}

@mixin common-box-shadow(){
  box-shadow: 3px 3px 10px 0#999898;
}
%common-a{
  color: $dark-blue;
  text-decoration: none;
  &:hover{
    text-decoration:underline;
  }
}
